@import "root.css";

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    margin: 20px;
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0 0 18px;
    font-size: 20px;
    font-weight: 600;
}

.row {
    display: flex;
    align-items: center;
    gap: var(--gap);
    margin-bottom: var(--gap);
    flex-wrap: wrap;
}

.card {
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 14px;
    margin-bottom: 14px;
    background: var(--bg-color);
}

.label {
    font-weight: 600;
    margin-right: 8px;
    font-size: var(--font-size);
}

input[type="text"],
input[type="number"] {
    padding: 6px 8px;
    border: 1px solid var(--border-color);;
    border-radius: 8px;
    min-width: 260px;
    background: var(--card-bg-color);
    color: var(--font-color);
}

input[disabled] {
    background: var(--bg-color);
}

button {
    padding: 6px 12px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background: var(--bg-color);
    cursor: pointer;
    color: var(--font-color);
}

button:hover {
    background: var(--hover-color);
}

textarea {
    height: 280px;
    font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
    font-size: 12px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    background: var(--card-bg-color);
    color: var(--font-color);
}

.hint {
    color: #6b7280;
    font-size: 12px;
}
.hint a {
    color: var(--hint-link-color);
}

/* 滚动栏 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--hover-color);
}

#log {
    height: auto;
    min-height: 180px;
    overflow: auto;
    padding: 14px;
}